---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9732?api_key=<MOVIE_DB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIE_DB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - e336ee4dffbf6af0807e4c684a19fd98
      X-Memc-Age:
      - '3660'
      X-Memc-Expires:
      - '22028'
      Etag:
      - W/"37defd20fe367c6f6fa05da29de4232e"
    body:
      encoding: UTF-8
      string: '{"adult":false,"backdrop_path":"/vyOFlV1afDHb9MMwJVyON4qXbvC.jpg","belongs_to_collection":{"id":94032,"name":"The
        Lion King Collection","poster_path":"/oG1heUs503GV6xBnFhgyYTGWm05.jpg","backdrop_path":"/A9IEaj9cPAwEgFnTmteB70oxgJY.jpg"},"budget":0,"genres":[{"id":10751,"name":"Family"},{"id":12,"name":"Adventure"},{"id":16,"name":"Animation"},{"id":28,"name":"Action"}],"homepage":"","id":9732,"imdb_id":"tt0120131","origin_country":["US"],"original_language":"en","original_title":"The
        Lion King II: Simba''s Pride","overview":"The circle of life continues for
        Simba, now fully grown and in his rightful place as the king of Pride Rock.
        Simba and Nala have given birth to a daughter, Kiara who''s as rebellious
        as her father was. But Kiara drives her parents to distraction when she catches
        the eye of Kovu, the son of the evil lioness, Zira. Will Kovu steal Kiara''s
        heart?","popularity":60.683,"poster_path":"/sWR1x6UCMCGN9xEf8RGhPS934X0.jpg","production_companies":[{"id":3475,"logo_path":"/jTPNzDEn7eHmp3nEXEEtkHm6jLg.png","name":"Disney
        Television Animation","origin_country":"US"},{"id":5391,"logo_path":"/o5AcK10ViutenSa4XTD18ClCEWe.png","name":"DisneyToon
        Studios","origin_country":"US"},{"id":2,"logo_path":"/wdrCwmRnLFJhEoH8GSfymY85KHT.png","name":"Walt
        Disney Pictures","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1998-10-24","revenue":0,"runtime":81,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"}],"status":"Released","tagline":"The
        Circle of Life Continues...","title":"The Lion King II: Simba''s Pride","video":false,"vote_average":6.9,"vote_count":4296}'
  recorded_at: Thu, 04 Jul 2024 00:39:52 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9732/credits?api_key=<MOVIE_DB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIE_DB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 4eed8018a51c6c6741597e780fe78917
      X-Memc-Age:
      - '5320'
      X-Memc-Expires:
      - '19319'
      Etag:
      - W/"e2cef2d82208acbf3b2c070637690fa5"
    body:
      encoding: UTF-8
      string: '{"id":9732,"cast":[{"adult":false,"gender":2,"id":4756,"known_for_department":"Acting","name":"Matthew
        Broderick","original_name":"Matthew Broderick","popularity":23.532,"profile_path":"/papqFgpyroZJEqd7WvuNGN8ti2k.jpg","cast_id":1,"character":"Simba
        (voice)","credit_id":"52fe4524c3a36847f80beaab","order":0},{"adult":false,"gender":1,"id":9206,"known_for_department":"Acting","name":"Neve
        Campbell","original_name":"Neve Campbell","popularity":29.502,"profile_path":"/cOSUgtHhsvmxrpjBiLbLQ4bbHZa.jpg","cast_id":3,"character":"Kiara
        (voice)","credit_id":"52fe4524c3a36847f80beab3","order":1},{"adult":false,"gender":2,"id":61983,"known_for_department":"Acting","name":"Jason
        Marsden","original_name":"Jason Marsden","popularity":9.84,"profile_path":"/3SR5TiCuTLebP00LTTQwDUSP14s.jpg[...]
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/9732/reviews?api_key=<MOVIE_DB_API_KEY>&language=en-US
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIE_DB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 2d4328da80d2458cce16a2df38adb866
      X-Memc-Age:
      - '7489'
      X-Memc-Expires:
      - '18174'
      Etag:
      - W/"3c94d3d73748767c52b67fedcf98dfe8"
    body:
      encoding: UTF-8
      string: '{"id":9732,"page":1,"results":[{"author":"Gimly","author_details":{"name":"Gimly","username":"Ruuz","avatar_path":"/xUObnJSvHrFPsIpoDmb1jiQZLq7.jpg","rating":4.0},"content":"If
        the first is Hamlet with lions then this one is Romeo & Juliet with lions.
        And if the first is a great kids'' movie then this one is a passable kids''
        movie.\r\n\r\n_Final rating:★★ - Had some things that appeal to me, but a
        poor finished product._","created_at":"2017-05-13T04:28:18.495Z","id":"59168b62c3a3683a930281fb","updated_at":"2021-06-23T15:57:57.246Z","url":"https://www.themoviedb.org/review/59168b62c3a3683a930281fb"}],"total_pages":1,"total_results":1}'
  recorded_at: Thu, 04 Jul 2024 00:39:52 GMT
recorded_with: VCR 6.2.0
