<h1>Search Results</h1>
<p><%= button_to 'Discover Page', "/users/#{@user.id}/discover", method: :get %></p>
<ul>
  <% @movies.each do |movie| %>

    <p>Title: <%= movie[:title] %></p>
    <p>Vote average of the movie: <%= movie[:vote_average] %></p>
    <p> Movie overview: <%= movie[:overview] %></p>
    <hr>
  <% end %>
  <hr>
</ul>
