---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie?api_key=<MOVIE_DB_API_KEY>&include_adult=false&language=en-US&page=1&query=The%20Lion%20King
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - "<MOVIE_DB_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 00b5f36206a54c835f17b69e1c5ea6c2
      X-Memc-Age:
      - '10521'
      X-Memc-Expires:
      - '16957'
      Etag:
      - W/"869142786b421ddaeb18c89a45ba01bf"
    body:
      encoding: UTF-8
      string: '{"page":1,"results":[{"adult":false,"backdrop_path":"/wXsQvli6tWqja51pYxXNG1LFIGV.jpg","genre_ids":[10751,16,18],"id":8587,"original_language":"en","original_title":"The
        Lion King","overview":"A young lion prince is cast out of his pride by his
        cruel uncle, who claims he killed his father. While the uncle rules with an
        iron paw, the prince grows up beyond the Savannah, living by a philosophy:
        No worries for the rest of your days. But when his past comes to haunt him,
        the young prince must decide his fate: Will he remain an outcast or face his
        demons and become what he needs to be?","popularity":119.278,"poster_path":"/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg","release_date":"1994-06-24","title":"The
        Lion King","video":false,"vote_average":8.256,"vote_count":17845},{"adult":false,"backdrop_path":"/1TUg5pO1VZ4B0Q1amk3OlXvlpXV.jpg","genre_ids":[12,18,10751],"id":420818,"original_language":"en","original_title":"The
        Lion King","overview":"Simba idolizes his father, King Mufasa, and takes to
        heart his own royal destiny. But not everyone in the kingdom celebrates the
        new cub''s arrival. Scar, Mufasa''s brother—and former heir to the throne—has
        plans of his own. The battle for Pride Rock is ravaged with betrayal, tragedy
  [...]
