<div class="container">
  <h1>Discover Movies</h1>

  <div class="search-section">
    <%= form_with url: "/users/#{@user.id}/movies", method: :get, class: "form-inline" do |form| %>
      <div class="form-group">
        <%= text_field_tag(:search_keywords, nil, placeholder: "search") %>
        <%= submit_tag("Search by Movie Title") %>
      </div>
    <% end %>
  </div>

  <div class="discover-section">
    <%= link_to "Discover Top Rated Movies", "/users/#{@user.id}/top_rated_movies", class: "btn btn-primary" %>
  </div>
</div>